
@{
    ViewBag.Title = "PassRecovery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


 Password <span class="primary">Recovery</span> </span></h2>

         </div>
      </div>
<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <!-- Icon -->
        <div class="fadeIn first">
            <b>Recover Password</b>
        </div>

        <!-- Login Form -->
        <form>
            <input type="text" id="login" class="fadeIn second" name="login" placeholder="Employee Id">
            <input type="text" id="login" class="fadeIn second" name="email" placeholder="Email Id">
            <input type="submit" class="fadeIn fourth" value="Log In">
        </form>

        <!-- Remind Passowrd -->


    </div>
</div>

